/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rufina:wght@400;700&display=swap');

:root {
    /* Typography */
    --heading-font: "Rufina", serif;
    --body-font: "Lato", sans-serif;

    /* Colors */
    --deep-forest-green: #233000;
    --olive-wood: #5E6600;
    --golden-olive: #9CAA00;
    --sage-mist: #EBF0E4;
    --pure-black: #000000;
    --charcoal-gray: #4D4D4D;
    --silver-gray: #B0B0B0;
    --pure-white: #FFFFFF;

    /* Fonts Weight */
    --thin: 100;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 16px;
}

/* Header */
header {
    background-color: var(--deep-forest-green);
    padding: 20px;
    color: var(--pure-white);
}

.header-row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-row .logo img {
    max-width: 150px;
    cursor: pointer;
}

.header-row .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header-row :where(.menu__icon, .menu__close) {
    max-width: 80px;
    cursor: pointer;
}

.header-row .menu a {
    color: var(--pure-white);
}

.menu__content {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    background-image:
        linear-gradient(rgba(35, 48, 0, 0.8), rgba(35, 48, 0, 0.8)),
        url(../images/menu-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__content .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.menu__content img.menu__close {
    float: right;
}

ul.nav__menu li a {
    font-family: var(--heading-font);
    color: var(--pure-white);
}

ul.nav__menu li .sub__nav-menu {
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

ul.nav__menu li a:not(.sub__nav-menu li a) {
    font-size: 40px;
    line-height: 50px;
}

.menu__content {
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
}

.menu__content.active {
    transform: translateY(0%);
}