/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rufina:wght@400;700&display=swap');

:root {
    /* Typography */
    --heading-font: "Rufina", serif;
    --body-font: "Lato", sans-serif;

    /* Colors */
    --deep-forest-green: #233000;
    --olive-wood: #5E6600;
    --golden-olive: #9CAA00;
    --sage-mist: #EBF0E4;
    --pure-black: #000000;
    --charcoal-gray: #4D4D4D;
    --silver-gray: #B0B0B0;
    --pure-white: #FFFFFF;

    /* Fonts Weight */
    --thin: 100;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 16px;
}

:where(h1, h2, h3) {
    font-family: var(--heading-font);
    margin-bottom: 20px;
}

h1 {
    font-size: 75px;
    line-height: 90px;
}

h2 {
    font-size: 60px;
    line-height: 70px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

p {
    font-family: var(--body-font);
    font-size: 17px;
    font-weight: var(--regular);
    margin-bottom: 15px;
}

/* General */
:where(.our-menu, .cta, .blog-sec, .menu-content) {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Header */
header {
    background-color: var(--deep-forest-green);
    padding: 20px;
    color: var(--pure-white);
}

.header-row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-row .logo img {
    max-width: 150px;
    cursor: pointer;
}

.header-row .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header-row :where(.menu__icon, .menu__close) {
    max-width: 80px;
    cursor: pointer;
}

.header-row .menu a {
    color: var(--pure-white);
}

.menu__content {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    background-image:
        linear-gradient(rgba(35, 48, 0, 0.8), rgba(35, 48, 0, 0.8)),
        url(../images/menu-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__content .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.menu__content img.menu__close {
    float: right;
}

ul.nav__menu li a {
    font-family: var(--heading-font);
    color: var(--pure-white);
}

ul.nav__menu li .sub__nav-menu {
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

ul.nav__menu li a:not(.sub__nav-menu li a) {
    font-size: 40px;
    line-height: 50px;
}

.menu__content {
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    z-index: 9;
}

.menu__content.active {
    transform: translateY(0%);
    z-index: 9;
}

/* Hero Section */

.hero {
    position: relative;
    background: var(--deep-forest-green);
    padding: 40px 0;
}

section.hero .section-wrapper {
    min-height: 600px;
}

.section-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.section-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.hero img.dish__img {
    float: right;
    max-height: 550px;
    margin-top: 30px;
    width: 600px;
    object-fit: cover;
}

.hero .content {
    max-width: 70%;
}

.hero .content :where(h1, p) {
    color: var(--pure-white);
}

.icons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-70%, -10%);
}

.hero .icon-wrapper {
    display: flex;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    gap: 1rem;
}

.hero .icon-wrapper img {
    width: 180px;
    object-fit: cover;
}

/* Hero Inner */
.hero__inner {
    background: var(--deep-forest-green);
    padding-top: 100px;
    padding-bottom: 40px;
}

.hero__inner .section-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

.hero__inner .section-wrapper .left {
    flex-basis: 50%;
}

.hero__inner .left img {
    width: 100%;
    margin-bottom: 20px;
}

.hero__inner .section-wrapper .right {
    flex-basis: 30%;
}

.hero__inner .right img {
    width: 100%;
}

.hero__inner :where(h3, p) {
    color: var(--pure-white);
}

/* Menu */
.our-menu {
    position: relative;
}

section.our-menu::after {
    content: "";
    width: 550px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(./../images/flower-icon-cropped.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}

:where(.menu-item) .price p {
    text-align: right;
    font-family: var(--heading-font);
    font-size: 30px;
    line-height: 1;
}

:where(.menu-item) .price .item-divider {
    display: block;
    border-bottom: 2px dashed;
    margin-bottom: 20px;
}

:where(.menu-item) .title-box {
    max-width: 400px;
    margin-bottom: 40px;
}

:where(.menu-item) .menu-details h3 {
    font-size: 35px;
    line-height: 45px;
}

/* Excellent Section */
.excellent {
    background: var(--sage-mist);
    padding-top: 50px;
}

.column-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.column-boxes :where(.left, .right) img {
    width: 100%;
}

.column-boxes .right img {
    max-width: 250px;
    margin: 0 auto;
}

.excellent .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

/* CTA Section */

.three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.cta .inner-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.cta .inner-column img {
    width: 100%;
    max-width: 170px;
}

.cta .inner-column h4 {
    font-family: var(--heading-font);
    font-size: 25px;
    line-height: 30px;
}

.cta .inner-column p {
    text-align: center;
}

/* BLOG SECTION */
.blog-item .fm__img {
    position: relative;
}

.blog-item .fm__img img {
    width: 100%;
}

.blog-item .fm__img a {
    position: absolute;
    right: 20px;
    top: 10px;
    background: var(--olive-wood);
    color: var(--pure-white);
    font-family: var(--heading-font);
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--olive-wood);
    transition: 0.5s ease-in-out;
}

.blog-item .fm__img a:hover {
    background: transparent;
    color: var(--olive-wood);
}

.blog-item .content__box {
    padding: 10px 10%;
}

.blog-item .content__box .meta {
    display: flex;
    align-items: anchor-center;
    font-family: var(--heading-font);
}

.blog-item .meta img {
    max-width: 80px;
}

.content__box h4 {
    font-family: var(--heading-font);
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
}

.content__box span.has-divider {
    display: block;
    border-bottom: 2px dashed;
    margin-bottom: 20px;
}

.content__box .read__more-btn {
    padding: 10px 20px;
    border: 2px solid var(--charcoal-gray);
    border-radius: 99px;
    font-family: var(--body-font);
    color: var(--charcoal-gray);
    font-size: 17px;
    display: inline-flex;
    gap: 0.5rem;
}

.content__box .read__more-btn img {
    max-width: 35px;
    object-fit: cover;
}

/* Reservation */

.reservation {
    background: var(--sage-mist);
    padding-top: 80px;
    padding-bottom: 80px;
}

.reservation .content {
    text-align: center;
}

.quick_reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.form__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.quick_reservation .field-box {
    overflow: hidden;
    width: 100%;
}

.quick_reservation :where(input, select) {
    width: -webkit-fill-available;
    max-width: inherit;
    background-color: transparent;
    border: 1px solid var(--deep-forest-green);
    padding: 10px;
    font-family: var(--body-font);
    font-size: 17px;
}

.quick_reservation button[type="submit"] {
    background-color: var(--deep-forest-green);
    font-family: var(--heading-font);
    color: var(--pure-white);
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* Footer */

footer {
    background: var(--deep-forest-green);
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 40px;
}

.footer-top {
    padding-top: 70px;
    padding-bottom: 70px;
}

footer .logo-column img {
    max-width: 140px;
}

footer h4 {
    font-family: var(--heading-font);
    color: var(--pure-white);
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}

footer a {
    font-family: var(--body-font);
    color: var(--pure-white);
    font-size: 17px;
}

footer .form-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

footer .field-box {
    overflow: hidden;
}

footer .form-container input[type="email"] {
    width: -webkit-fill-available;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid var(--pure-white);
    font-family: var(--body-font);
    font-size: 17px;
    color: var(--pure-white);
}

footer .form-container input[type="email"]:focus {
    outline: 1px solid var(--pure-white);
}

footer .form-container button[type="submit"] {
    background: var(--pure-white);
    outline: none;
    box-shadow: none;
    border: 1px solid var(--pure-white);
    font-family: var(--heading-font);
    font-size: 17px;
    cursor: pointer;
    color: var(--deep-forest-green);
}

footer .newsletter-form p {
    font-family: var(--heading-font);
    color: var(--pure-white);
    font-size: 12px;
    margin-top: 10px;
}

.footer-divider {
    border: 1px dashed var(--pure-white);
}

.bottom-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bottom-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bottom-footer .left p {
    margin: 0;
    color: var(--pure-white);
}

.social-icons {
    display: flex;
    align-items: anchor-center;
    justify-content: end;
    gap: 1rem;
}

.social-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Menu Pages */

section.menu-hero {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../images/menu-hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-hero :where(.section-wrapper, .content) {
    width: 100%;
}

.menu-hero :where(h1, p) {
    color: var(--pure-white);
}

.title_box {
    padding-bottom: 30px;
}

.title_box.center {
    text-align: center;
}

.two__columns-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}

.image-box img {
    width: 100%;
}

:where(.single__item) .menu-details {
    padding-right: 20%;
}

:where(.single__item) .price p {
    text-align: right;
    font-family: var(--heading-font);
    font-size: 30px;
    line-height: 1;
}

:where(.single__item) span.item-divider {
    display: block;
    border-bottom: 2px dashed;
    margin-bottom: 20px;
}

.menu-content .content-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

:where(.starter, .drinks-pasteries) {
    position: relative;
}

.starter:before {
    content: "";
    width: 250px;
    height: 200px;
    background-image: url(./../images/starter-background-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-30%);
}

.drinks-pasteries:before {
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(./../images/drinks-background-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: 0;
}

.drinks-pasteries:before {
    content: "";
    width: 150px;
    height: 180px;
    background-image: url(./../images/drinks-background-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* About */

section.hero.contact {
    background-color: transparent;
    background-image: url(./../images/contact-hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

:where(.contact) .section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10rem;
}

:where(.contact) .opentime {
    min-width: 600px;
    margin-left: auto;
}

:where(.hero) .title-header {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--pure-white);
}

:where(.hero) .title-header p {
    margin-bottom: 0;
    font-size: 16px;
    color: var(--pure-white);
}

:where(.hero) .title-header h6 {
    font-family: var(--heading-font);
    font-size: 22px;
    color: var(--pure-white);
}

:where(.hero) .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hero .details :where(span, p) {
    color: var(--pure-white);
}

.contact__icon-sec {
    padding-top: 150px;
    position: relative;
}

.contact__icon-sec:before {
    content: "";
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 176px;
    background-image: url(./../images/contact-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.location {
    padding-top: 50px;
    padding-bottom: 50px;
}

.two__col-temp .img__col img {
    width: 100%;
}

.two__col-temp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 40px;
}

:where(.contact__icon-sec, .location) .two__col-temp .content :where(p, a) {
    font-family: var(--heading-font);
    font-size: 20px;
    line-height: 30px;
}

:where(.contact__icon-sec, .location) .two__col-temp .content p {
    color: var(--deep-forest-green);
}

:where(.contact__icon-sec, .location) .two__col-temp .content a {
    color: var(--golden-olive);
}

:where(.contact__icon-sec, .location) .two__col-temp .content a:hover {
    border-bottom: 2px solid var(--golden-olive);
}

/* About */
section.hero.about {
    background-image: url(./../images/about-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

:where(.about) .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 500px;
}

section.story {
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
}

section.story::before {
    content: "";
    width: 248px;
    height: 210px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./../images/about-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.team {
    padding-top: 50px;
    padding-bottom: 50px;
}

.team_memeber .intro h4 {
    font-family: var(--heading-font);
    font-size: 30px;
    line-height: 40px;
}

.team_memeber {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.team_memeber .intro {
    text-align: center;
}

.team_memeber .intro img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.team_memeber .body-txt.right_side {
    text-align: right;
}

.team_memeber .body-txt {
    max-width: 400px;
}

.team_memeber .body-txt p {
    font-size: 17px;
    text-align: left;
}

section.process {
    padding-top: 50px;
    padding-bottom: 50px;
}

.process .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

:where(.process) .two__col-temp .content {
    padding-left: 5rem;
    padding-right: 5rem;
}

:where(.process) .two__col-temp h3 {
    font-size: 50px;
    line-height: 60px;
}

.two__col-temp.inline .left .content {
    margin-bottom: 50px;
}

.two__col-temp.inline .right .content {
    margin-top: 50px;
}

/* Single Blog */
.blog-hero {
    background-image: url(../images/fruit-and-vegetables-and-protection.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog-hero>.section-wrapper {
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: var(--pure-white);
    min-height: 650px;
    display: flex;
    align-items: center;
}

.author-dtails {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.author-content ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.author-content ul li {
    font-size: 18px;
    font-family: var(--body-font);
}

:where(.blog-content) .content {
    padding-top: 70px;
    padding-bottom: 70px;
}

:where(.blog-content) .bredcrumbs {
    padding-bottom: 30px;
}

:where(.blog-content) .bredcrumbs a {
    font-family: var(--heading-font) !important;
    color: var(--golden-olive);
}

.photos-inline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 40px 0;
}

:where(.blog-content) .photos-inline img {
    width: 100%;
}

:where(.blog-content) .tags {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 30px 0;
}

:where(.blog-content) .tags h4 {
    font-size: 30px;
    font-family: var(--heading-font);
}

:where(.blog-content) .tags span {
    border: 1px solid var(--pure-black);
    padding: 5px 25px;
}

:where(.blog-content) .tags a {
    color: var(--pure-black);
    font-family: var(--heading-font);
}

:where(.blog-content) .author_box {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

:where(.blog-content) .author_box h6 {
    font-family: var(--heading-font);
    font-size: 25px;
    margin-bottom: 0.5rem;
}