/************************************** 
* >>> Mobile Screen 
***************************************/

@media (max-width: 580px) {

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    h2 {
        font-size: 50px;
        line-height: 60px;
    }

    /* Header Section */

    .header-row .logo img {
        max-width: 125px;
    }

    .header-row .menu {
        gap: 0.125rem;
    }

    .header-row :where(.menu__icon, .menu__close) {
        max-width: 50px;
    }

    .menu__content.active {
        width: 100%;
        height: 100%;
    }

    /* Hero Section */

    section.hero .section-wrapper {
        min-height: 450px;
    }

    .hero .icon-wrapper {
        max-width: 100%;
        gap: 0.5rem;
    }

    .icons {
        left: 0%;
        transform: translate(0%, -20%);
        padding: 0 20px;
    }

    .hero img.dish__img {
        display: none;
    }

    .hero .content {
        max-width: 100%;
    }

    .hero .icon-wrapper img {
        width: 110px;
    }

    /* Hero Inner Section */

    .hero__inner {
        padding-top: 50px;
    }

    .hero__inner .section-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .hero__inner .right img {
        margin-top: 20px;
    }

    /* Menu Section */
    section.our-menu::after {
        width: 200px;
        height: 100px;
    }

    .menu-container {
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 20px;
    }

    :where(.menu-item, .single__item) .menu-details h3 {
        font-size: 25px;
        line-height: 35px;
    }

    :where(.menu-item, .single__item) .price p {
        font-size: 20px;
    }

    /* Excellent Section */

    .excellent {
        padding-bottom: 50px;
    }

    .column-boxes {
        grid-template-columns: none;
        row-gap: 30px;
    }

    .excellent .right {
        gap: 0px;
    }

    /* CTA */
    .three-columns {
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 40px;
    }

    .cta .inner-column {
        gap: 10px;
    }

    .cta .inner-column img {
        max-width: 160px;
    }

    /* Reservation */

    .reservation {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .form__container {
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 20px;
    }

    /* Footer */

    footer a {
        font-size: 14px;
        line-height: 17px;
    }

    .footer-top {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }

    .footer-top> :nth-child(3) {
        grid-column: 1 / -1;
    }

    footer .logo-column img {
        max-width: 100px;
    }

    .footer-top {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bottom-footer .left p {
        font-size: 14px;
        line-height: 17px;
    }

    .social-icons img {
        width: 25px;
        height: 25px;
    }

    /* Menu Pages */
    section.menu-hero {
        min-height: 350px;
    }

    .two__columns-menu {
        grid-template-columns: none;
        column-gap: 0px;
        row-gap: 20px;
    }

    :where(.single__item) .menu-details {
        padding-right: 0;
    }

    .starter:before {
        width: 150px;
        height: 120px;
        transform: translateX(0%);
    }


    :where(section.hero.contact) .section-wrapper {
        min-height: 350px;
        gap: 2rem;
    }

    :where(.contact) .opentime {
        min-width: 100%;
    }

    .two__col-temp {
        grid-template-columns: none;
        row-gap: 40px;
    }

    .contact__icon-sec {
        padding-top: 50px;
    }

    .contact__icon-sec:before {
        display: none;
    }

}

/************************************** 
* >>> Tablet Screen 
***************************************/

@media only screen and (min-width: 581px) and (max-width: 900px) {
    h1 {
        font-size: 65px;
        line-height: 75px;
    }

    section {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .hero img.dish__img {
        width: 400px;
    }

    .hero .icon-wrapper img {
        width: 150px;
    }
}