/************************************** 
* >>> Mobile Screen 
***************************************/

@media (max-width: 580px) {

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    h2 {
        font-size: 50px;
        line-height: 60px;
    }

    /* Header Section */

    .header-row .logo img {
        max-width: 125px;
    }

    .header-row .menu {
        gap: 0.125rem;
    }

    .header-row :where(.menu__icon, .menu__close) {
        max-width: 50px;
    }

    .menu__content.active {
        width: 100%;
        height: 100%;
    }

    /* Hero Section */

    section.hero .section-wrapper {
        min-height: 450px;
    }

    .hero .icon-wrapper {
        max-width: 100%;
    }

    .icons {
        left: 0%;
        transform: translate(0%, -20%);
        padding: 0 20px;
    }

    .hero img.dish__img {
        display: none;
    }

    .hero .content {
        max-width: 100%;
    }

    .hero .icon-wrapper img {
        width: 120px;
    }

    /* Hero Inner Section */

    .hero__inner {
        padding-top: 50px;
    }

    .hero__inner .section-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .hero__inner .right img {
        margin-top: 20px;
    }

    /* Menu Section */
    section.our-menu::after {
        width: 200px;
        height: 100px;
    }

    .menu-container {
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 20px;
    }

    :where(.menu-item) .menu-details h3 {
        font-size: 25px;
        line-height: 35px;
    }

    :where(.menu-item) .price p {
        font-size: 20px;
    }

    /* Excellent Section */

    .excellent {
        padding-bottom: 50px;
    }

    .column-boxes {
        grid-template-columns: none;
        row-gap: 30px;
    }

    .excellent .right {
        gap: 0px;
    }

    /* CTA */
    .three-columns {
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 40px;
    }

    .cta .inner-column {
        gap: 10px;
    }

    .cta .inner-column img {
        max-width: 160px;
    }
}

/************************************** 
* >>> Tablet Screen 
***************************************/

@media only screen and (min-width: 581px) and (max-width: 900px) {
    h1 {
        font-size: 65px;
        line-height: 75px;
    }

    section {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .hero img.dish__img {
        width: 400px;
    }

    .hero .icon-wrapper img {
        width: 150px;
    }
}